.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    margin-left: 50px;
    font-weight: 700;
    color: #2a363b;
  }
  
  .link.active {
    color: #e84a5f;
  }
  
  .navlink {
    padding-left: 3%;
  }